body {
    background-color:rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(65, 65, 65);
}
#main-header {
    color: rgb(65, 65, 65);
    display:block;
    font-style:normal;
}
nav {
    display:block;
}
h2 {
    color: rgb(65, 65, 65);
}
p {
    color: rgb(65, 65, 65);
    font-size: 15px;
}
a {
    font-size: 14px;
    color: rgb(65, 65, 65);
    font-style: normal;
}